body {
  background-color: #41232F;
}

/* INTRO SECTION */
#intro {
  text-align: center;
  margin-top: 100px;
}

.intro-heading {
  font-family: 'Jomhuria', cursive;
  color: #CA9B72;
  font-size: 10rem;
  margin-bottom: 6px;
}

.location-text {
  color: #fff;
  font-family: 'Almarai', sans-serif;
  font-size: 1.6rem;
}

/* WAGABAT SECTION */
#wagabat {
  text-align: center;
}

.menu-section-heading {
  color: #CA9B72;
  font-size: 5.5rem;
  font-family: 'Markazi Text', serif;
  margin-bottom: 40px;
}

.col-description {
  text-align: right;
}

.menu-item {
  color: #EAD1BC;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-family: 'Almarai', sans-serif;
}

.sub-menu-item {
  color: #EAD1BC;
  font-family: 'Almarai', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.container-fluid {
  padding-right: 100px;
}
