body {
  background-color: #41232F;
}

/* SIDE NAVBAR SECTION */
.side-navbar-icon {
  margin-left: 15px;
  margin-top: 15px;
  position: fixed;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  color: #BFADA8;
  top: 20px;
  cursor: pointer;
  z-index: 1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #BFADA8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #818181;
  display: block;
  font-family: 'Markazi Text', serif;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* INTRO SECTION */
#intro {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.intro-heading {
  font-family: 'Jomhuria', cursive;
  color: #CA9B72;
  font-size: 10rem;
  margin-bottom: 6px;
}

.location-text {
  color: #fff;
  font-family: 'Almarai', sans-serif;
  font-size: 1.6rem;
}

/* WAGABAT SECTION */
#wagabat {
  text-align: center;
  margin-bottom: 100px;
}

.menu-section-heading {
  color: #CA9B72;
  font-size: 5.5rem;
  font-family: 'Markazi Text', serif;
  margin-bottom: 40px;
}

.col-description {
  text-align: right;
}

.menu-item {
  color: #EAD1BC;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-family: 'Almarai', sans-serif;
}

.sub-menu-item {
  color: #EAD1BC;
  font-family: 'Almarai', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.menu-heading {
  margin-bottom: 20px;
  font-family: 'Almarai', sans-serif;
  font-size: 1.3rem;
  color: #EAD1BC;
}

.container-fluid {
  padding-right: 100px;
}

/* MANASHEF SECTION */
#manashef {
  text-align: center;
  margin-bottom: 100px;
}

/* MASHWEYAT BELKILO SECTION */
#mashweyat-belkilo {
  text-align: center;
  margin-bottom: 100px;
}

/* MOAGANAT-LOHOOM SECTION */
#moaganat-lohoom {
  text-align: center;
  margin-bottom: 100px;
}

/* FERAKH SECTION */
#ferakh {
  text-align: center;
  margin-bottom: 100px;
}

/* SANDWICH SECTION */
#sandwich {
  text-align: center;
  margin-bottom: 100px;
}

/* PIZZA SECTION */
#pizza {
  text-align: center;
  color: #EAD1BC;
  margin-bottom: 100px;
}

.pizza-item {
  margin-bottom: 6px;
}

.pizza-price {
  margin-top: 47px;
}

/* MANAKEESH SECTION */
#manakeesh {
  text-align: center;
  margin-bottom: 100px;
}

/* APPETIZERS SECTION */
#appetizers {
  text-align: center;
  margin-bottom: 100px;
}

/* TAWAGEN SECTION */
#tawagen {
  text-align: center;
  margin-bottom: 100px;
}

/* SOUP SECTION */
#soup {
  text-align: center;
  margin-bottom: 100px;
}

/* HOT DRINKS SECTION */
#hot-drinks {
  text-align: center;
  margin-bottom: 100px;
}

/* SOFT DRINKS SECTION */
#soft-drinks {
  text-align: center;
  margin-bottom: 100px;
}

/* DESSERT SECTION */
#dessert {
  text-align: center;
  margin-bottom: 100px;
}

/* BREAKFAST SECTION */
#breakfast {
  text-align: center;
  margin-bottom: 100px;
}

/* SHAWERMA SECTION */
#shawerma {
  text-align: center;
  margin-bottom: 100px;
}

* FOOTER SECTION */
#footer {
  text-align: center;
  background-color: #A9AFB5;
}

.font-awesome {
  margin-top: 50px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.font-awesome:hover {
  cursor: pointer;
}
