body {
  background-color: #41232F;
}

/* INTRO SECTION */
#intro {
  text-align: center;
  margin-top: 50px;
}

.intro-heading {
  font-family: 'Jomhuria', cursive;
  color: #CA9B72;
  font-size: 8rem;
  margin-bottom: 6px;
}

.location-text {
  color: #fff;
  font-family: 'Almarai', sans-serif;
  font-size: 1.6rem;
}
